doctype html
html
	head
		link(href="main.css" rel='stylesheet' type='text/css')
		link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet' type='text/css')
	body
		section.container#news
			.row
				.col-md-12
					.info-container
			.row
				.col-md-12
					button.btn.load-more Показать еще
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="main.js")