@media only screen and (max-width: 767px)
	.template
		padding-bottom 60px
		h1
			font-size 28px
		h2
			font-size 21px
		.contact-form
			font-size 20px
		.load-more
			font-size 20px
		section
			padding 10px 30px



